/*
 * Additional CSS for Hyde-X
 */

.posts {
  list-style: none;
}

#serieslist {
    float: right;
}

a.tag {
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #0089CF;
    color: white;
    border-radius: 3px;
}

a.category {
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #0DB14B;
    color: white;
    border-radius: 3px;
}

a.series {
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #F7B813;
    color: white;
    border-radius: 3px;
}

a.codelink {
    background: transparent;
    font-size: 100%;
    font-family: "Courier New", Courier, monospace;
}

blockquote {
    font-family: "Courier New", Courier, monospace;
    font-size: .65rem;
}

pre {
    position: relative;
}

code {
    font-family: "Courier New", Courier, monospace;
    padding: 0rem .2rem;
    background: transparent;
    font-size: 100%;
    color: black;
}

pre code {
    font-size: .65rem !important;
}

a.pglink {
    display: block;
    background-image: url('/img/link-gopher.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    width: 22px;
    height: 30px;
}

.rainbow {
    font-size: .65rem;
    font-family: "Courier New", Courier, monospace;
    border-spacing: 0;
    border-collapse: collapse;
}
.rainbow tr {
    background-color: transparent;
}
td.line-number {
    white-space: nowrap;
}
.rainbow .line .line-number:before {
    content: attr(data-line-number);
}
.rainbow .line .line-code {
    padding-left: 1em;
    width: 100%;
}
.rainbow .line .line-number {
    text-align: right;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.footnotes {
    font-size: .65rem;
}

