/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:    Stanley Ng
 * Email:   stanleyhlng@googlegroups.com
 * 
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #bd3613; }

.str {
  color: #269186; }

.kwd {
  color: #859900; }

.com {
  color: #586175;
  font-style: italic; }

.typ {
  color: #b58900; }

.lit {
  color: #2aa198; }

.pun {
  color: #839496; }

.opn {
  color: #839496; }

.clo {
  color: #839496; }

.tag {
  color: #268bd2; }

.atn {
  color: #586175; }

.atv {
  color: #2aa198; }

.dec {
  color: #268bd2; }

.var {
  color: #268bd2; }

.fun {
  color: #FF0000; }

/* Put a border around prettyprinted code snippets. */
pre.code {
    font-size: .65rem;
    font-family: "Courier New", Courier, monospace;
    background-color: #042029;
    padding: 10px;
    border: 1px solid #E1E1E8; }

.codetable {
    border-spacing: 0;
    border-collapse: collapse;}

.codetable-line {
    padding-left: 1em;
    width: 100%;}

.codetable-line-hl {
    background-color: #073642;}

.codetable-line-number {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    padding-left: 0.8em;
    padding-right: 0.8em;
    background-color: #073642;
    color: #586e75;
    white-space: nowrap;}
