<!-- code -->
{{ $.Page.Scratch.Add "codeNumber" 1 }}
<pre><code{{ with .Get "lang" }} class="language-{{.}}" {{ end }} selection-name="code{{ $.Page.Scratch.Get "codeNumber" }}">{{ trim .Inner "\n" }}
</code></pre>
<div class="code-footer">
    {{ with .Get "pg"}}<a href="https://play.golang.org/p/{{.}}" class="extern_code goplayground"></a>{{ end }}
    {{ with .Get "gh"}}<a href="https://github.gom/{{.}}" class="extern_code github"></a>{{ end }}
    {{ with .Get "name" }}<div class="code-label">{{.}}</div>{{ end }}
</div>
<!-- code -->
